<header>
  <nav>
    <a [routerLink]="['/']">OpenNg</a>
    <ul>
      <li>
        <a [routerLink]="['/help']">Help</a>
      </li>
      <li>
        Components
        <ul>
          <li>
            <a [routerLink]="['/inputs']">Inputs</a>
            <ul>
              <li>
                <a [routerLink]="['/inputs/file-select']">File Select</a>
              </li>
            </ul>
          </li>
          <li>
            <a [routerLink]="['/modals']">Modals</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  Developed by Kody Crossman @
  <a href="https://github.com/kcrossman/OpenNgLib">GitHub</a>
</footer>
